@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 221 83% 15%; /* Dark Navy */
    --foreground: 0 0% 98%; /* Off-White */

    --card: 221 83% 20%; /* Slightly lighter navy */
    --card-foreground: 0 0% 98%;

    --popover: 221 83% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 221 83% 15%;

    --secondary: 221 83% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 221 83% 25%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 221 83% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 221 83% 25%;
    --input: 221 83% 25%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 221 83% 15%; /* Dark Navy */
    --foreground: 0 0% 98%; /* Off-White */

    --card: 221 83% 20%; /* Slightly lighter navy */
    --card-foreground: 0 0% 98%;

    --popover: 221 83% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 221 83% 15%;

    --secondary: 221 83% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 221 83% 25%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 221 83% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 221 83% 25%;
    --input: 221 83% 25%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
